{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Avaliar{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="">
    <label for="avaliado">Estagiario:</label><br/>
        <select name="avaliado" id="avaliado" required="required">
        <option disabled selected value> -- Selecione -- </option>
            {% for p in estagios  %}
                <option value="{{ p.id }}"> {{ p.graduacao_abreviada }} {{ p.qra }}</option>
            {% endfor %}
        </select><br/><br/>
    <label for="qualidades">Qualidades:</label><br/>
    <textarea id="qualidades" name="qualidades" rows="4" cols="50" required="required"></textarea><br/>
    <label for="novidades">Novidades:</label><br/>
    <textarea id="novidades" name="novidades" rows="4" cols="50" required="required"></textarea><br/>
    <label for="nota">Nota do patrulhamento: </label>
    <input type="number" id="nota" name="nota" min="0" max="10" placeholder="10" /><br/><br/>
    <label for="policial1">Policial 1 presente na viatura:</label>
    <select name="policial1" id="policial1" required="required">
        <option disabled selected value> -- Selecione -- </option>
            {% for p in policiais  %}
                <option value="{{ p.id }}"> {{ p.graduacao_abreviada }} {{ p.qra }}</option>
            {% endfor %}
        </select><br/><br/>
    <label for="policial2">Policial 2 presente na viatura:</label>
    <select name="policial2" id="policial2" required="required">
            <option disabled selected value> -- Selecione -- </option>
            <option value="0">NIHIL</option>
            {% for p in policiais  %}
                <option value="{{ p.id }}"> {{ p.graduacao_abreviada }} {{ p.qra }}</option>
            {% endfor %}
        </select><br/><br/>
    <input type="submit" value="Avaliar">
  </form>
{% endblock %}