{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Avaliar{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped">

        <thead>
        <tr>
            {% for h in avalicoes_headers %}
                <th scope="col">{{ h }}</th>
            {% endfor %}
{#        <th>Ver completa</th>#}
        </tr>
        </thead>
        <tbody>
        {% for a in avaliacoes %}
            <tr>
                <th scope="row">{{ a["id"] }}</th>
                <td>{{ a["qra"] }}</td>
                <td>{{ a["nota"] }}</td>
                <td>{{ a["qualidades"] }}</td>
                <td>{{ a["novidades"] }}</td>
                <td>{{ a["data_avaliacao"] }}</td>
{#                <td><a href="/avaliacao/{{ a["id"] }}">Ver</a></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}