<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - SisInPM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
{% if g.user %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SisInPM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('core.index') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('core.avaliar') }}">Avaliação</a>
      </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Sair</a>
      </li>
    </ul>
  </div>
</nav>
{% endif %}
<header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Logo_PMESP.png" width="100px">
    <img src="https://thumbs.jusbr.com/400x400/imgs.jusbr.com/profiles/15446670/images/c8276da5-ee67-4fc3-81cf-cdb0d912d812_95567558_104524524584632_4094791484652388352_n.jpg"
         width="100px">
    <img src="https://seeklogo.com/images/B/batalhao-tobias-de-aguiar-logo-48536CA75F-seeklogo.com.png" width="70px">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Logo_da_ROTA.svg" width="70px">
    <h1>16° BPM/M | 1° BPChq - ROTA</h1>

</header>
<body>
<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>